<html>
<head>  
    <title>search</title>  
</head>
<body bgcolor="powderblue">

    <form method = "post" action = "http://localhost:5000/success">
        <p></p></br></br></br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
        <center>
            <table style="font-size:16pt">
            <tr><td>ip_address/url<input type = 'search' name = 'search' style="font-size:20pt"></td><td><input type = "submit" value = "Search" style="font-size:16pt"></td></tr>
            </table></center>
     </form>
</body>
</html>